<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WTFIsTheBatteryAt.TestPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WTFIsTheBatteryAt.TestPlugin.Properties.Settings>
            <setting name="ShouldSetLight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightbarColour" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
        </WTFIsTheBatteryAt.TestPlugin.Properties.Settings>
    </userSettings>
</configuration>